body{
    font-family: 'Roboto', sans-serif;
}
.btn:focus{
    outline: none;
    box-shadow: none;
}
.slider-indicator li{
    background-color: #76C27E;
}
.backpack-color{
    color: #363958;
}
.name-color, .price-tag{
    color: #76C27E;
    margin: 0;
}
.price-tag{
    font-weight: 900;
    font-size: 35px;
}
.logo-img{
    width: 220px;
}
.features img{
    height: 80px;
    width: 80px;
}
.casual-card, .travel-card{
    border-radius: 1.2rem;
}
.card-images{
    border-radius: 1.5rem;
    padding: 1.2rem;
}
.collection{
    position: relative;
}
.collection-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    background:rgb(20, 154, 145, 0.4);
    border-radius: 5%;
}
.back-top{
    text-decoration: none;
    color: #fff;
}
.back-top:hover{
    text-decoration: none;
    color: #fff;
}